extends layout

block content
    div.row
        div.col-md-4
            h2 Grafiska element
            a
                p.lead Grafisk manual
            a
                p.lead Logor
            a
                p.lead Figurer
        div.col-md-4
            h2 Mallar
            a
                p.lead test1
        div.col-md-4
            h2 Stilmall CSS
            a
                p.lead test2
    