extends layout

block content
    div.row
        div.col-md-4
            h2 Grafiska element
            a
                p.list Grafisk manual
            a
                p.list Loggor
            a
                p.list Figurer
        div.col-md-4
            h2 Mallar
            a
                p.list CV-mall
            a
                p.list Powerpoint-mall
        div.col-md-4
            h2 Stilmall CSS
            a
                p.list Stilmall CSS/Bootstrap
    