doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/css/bootstrap.css')
    link(rel='stylesheet', href='/lib/css/bootstrap-theme.css')
  body
      div.row
          div.col-md-12
              div.container
                div#header.header
                  img(src= "http://www.softhouse.se/wp-content/uploads/2014/09/softhouse_logotyp.png")
                  h1 Branding
                block content

                div#footer.footer
                    p Softhouse 2015 Vårträff branding-team
